<template>
  <v-container class="about">
    <v-layout text-xs-center wrap>
      <v-flex>
        <h1>{{ $t('about_page.app') }}</h1>
        <img class="left-image" src="@/assets/machine.png" alt="logo">
        <div>
          <p v-html="$t('about_page.description', { version })"></p>
          <p v-html="$t('about_page.build', { link: 'https://gitlab.com/Kyrdairrin' })"></p>
          <p>{{ $t('about_page.policy.pre') }}<router-link to="/cookies" tag="a">{{ $t('about_page.policy.in') }}</router-link>{{ $t('about_page.policy.post') }}</p>
        </div>
        <h1>{{ $t('about_page.code') }}</h1>
        <img class="left-image" src="@/assets/agplv3-medium.png" alt="GNU Affero General Public License v3.0 logo">
        <div>
          <p v-html="$t('about_page.source', { link: 'https://gitlab.com/Kyrdairrin/namegen' })"></p>
          <p v-html="$t('about_page.license', { link: 'https://www.gnu.org/licenses/agpl-3.0.en.html' })"></p>
        </div>
        <h1>{{ $t('about_page.credits') }}</h1>
        <p v-html="$t('about_page.icon_credit', { author_link: 'https://www.flaticon.com/authors/nikita-golubev', site_link: 'https://www.flaticon.com/', license_link: 'http://creativecommons.org/licenses/by/3.0/' })"></p>
        <p v-html="$t('about_page.flags_credit', { author_link: 'http://www.freepik.com/', site_link: 'https://www.flaticon.com/', license_link: 'http://creativecommons.org/licenses/by/3.0/' })"></p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class About extends Vue {

  public get version(): string {
    return require('../../package.json').version;
  }
}
</script>

<style lang="scss" scoped>
h1 {
  margin: 10px 0 20px 0;
}
.left-image {
  max-height: 100px;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  -webkit-user-drag: none;
  @media only screen and (max-width: 600px) {
    margin-bottom: 10px;
  }

  &+div{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 20px;
  }
}
</style>

