<template>
  <v-container class="cookies">
    <v-layout text-xs-center wrap>
      <v-flex class="policy-content">
        <h1>{{ $t('policy_page.title') }}</h1>
        <p v-html="$t('policy_page.description', { link: 'https://kyrdairrin.gitlab.io/namegen/' })"></p>

        <h2>{{ $t('policy_page.section1.title') }}</h2>
        <p>{{ $t('policy_page.section1.content') }}</p>

        <h2>{{ $t('policy_page.section2.title') }}</h2>
        <p>{{ $t('policy_page.section2.content') }}</p>

        <h2>{{ $t('policy_page.section3.title') }}</h2>
        <p>{{ $t('policy_page.section3.content') }}</p>
        <ul>
          <li v-html="$t('policy_page.section3.link1')"></li>
          <li v-html="$t('policy_page.section3.link2')"></li>
          <li v-html="$t('policy_page.section3.link3')"></li>
          <li v-html="$t('policy_page.section3.link4')"></li>
        </ul>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<style lang="scss" scoped>
.cookies, ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 30px;
}

.policy-content {
  max-width: 600px;
}
</style>
