<template>
  <div class="home">
    <HelloWorld />
    <Config />
    <Grid />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue';
import Config from '@/components/Config.vue';
import Grid from '@/components/Grid.vue';
import store from '@/store';

@Component({
  components: {
    HelloWorld,
    Config,
    Grid,
  },
})
export default class Home extends Vue {
}
</script>
