<template>
  <v-container class="not-found">
    <v-layout text-xs-center wrap>
      <v-flex>
        <h1 class="display-4">404</h1>
        <h3 class="display-2">We can't find the page you're looking for.</h3>
        <router-link class="home" to="/" tag="div">
          <v-btn color="info">Home</v-btn>
        </router-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class NotFound extends Vue {

}
</script>


<style lang="scss" scoped>
h3 {
  margin-top: 50px;
}

.home {
  margin-top: 100px;
}
</style>
