<template>
  <v-container class="unsupported-browser">
    <v-layout text-xs-center wrap>
      <v-flex>
        <h1>Oops!</h1>
        <h2>Your browser is not supported</h2>
        <p>It seems that your browser does not implement some of the features used by Kyrdairrin's Name Generator.</p>
        <p>Please use one of the browsers listed below instead. If you already ise one of those, please update it.</p>
        <div class="suggested-browsers">
          <div class="browser-block">
            <img class="browser-logo" src="@/assets/browsers/firefox.svg" alt="Mozilla Firefox logo">
            <v-btn target="_blank" href="https://www.mozilla.org/firefox/new/" color="success">Download Mozilla Firefox</v-btn>
          </div>
          <div class="browser-block">
            <img class="browser-logo" src="@/assets/browsers/vivaldi.svg" alt="Vivaldi logo">
            <v-btn target="_blank" href="https://vivaldi.com/download/" color="success">Download Vivaldi</v-btn>
          </div>
          <div class="browser-block">
            <img class="browser-logo" src="@/assets/browsers/chrome.svg" alt="Google Chrome logo">
            <v-btn target="_blank" href="https://www.google.com/chrome/" color="success">Download Google Chrome</v-btn>
          </div>
        </div>
        <router-link to="/" tag="div" class="go-anyway">
          <v-btn flat>
            <span class="mr-2">I understant some features might not work. Take me to the app anyway.</span>
          </v-btn>
        </router-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
})
export default class UnsupportedBrowser extends Vue {}
</script>

<style lang="scss" scoped>
h2 {
  margin-bottom: 20px;
}

.browser-logo {
  height: 120px;
  margin-bottom: 10px;
}

.suggested-browsers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.browser-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.go-anyway {
  margin-top: 100px;
}
</style>
