<template>
  <div class="config">
    <v-container grid-list-md text-xs-center align-content-space-around>
      <v-layout wrap>
        <v-flex class="pattern" md3 xs12>
          <div class="sets">
            <v-select :items="sets" v-model="set" :label="$t('set')">
              <template slot="selection" slot-scope="data">
                {{ $t(data.item) }}
              </template>
              <template slot="item" slot-scope="data">
                {{ $t(data.item) }}
              </template>
            </v-select>
            <v-dialog v-model="dialog" persistent max-width="500">
              <v-btn slot="activator" flat>{{ $t('custom_set') }}</v-btn>
              <v-card>
                <CustomSet/>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" flat @click="dialog = false">{{ $t('close') }}</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <div class="options">
            <v-radio-group v-model="gender" row>
              <v-radio :label="$t('male')" value="male"></v-radio>
              <v-radio :label="$t('female')" value="female"></v-radio>
            </v-radio-group>
            <v-checkbox :label="$t('full_name')" v-model="fullName"></v-checkbox>
          </div>
        </v-flex>
        <v-flex class="generate" md3 xs12>
          <v-btn color="success" @click="generate">{{ $t('generate') }}</v-btn>
          <v-select class="count-select" :items="counts" v-model="count" :label="$t('count')"></v-select>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CustomSet from '@/components/CustomSet.vue';
import store from '@/store';
import { GENERATE, CHANGE_GENDER, CHANGE_SET, CHANGE_COUNT } from '@/store/action-types';

@Component({
  components: {
    CustomSet,
  },
})
export default class Config extends Vue {
  public dialog = false;

  public get gender(): string {
    return store.state.male ? 'male' : 'female';
  }

  public set gender(gender: string) {
    store.dispatch(CHANGE_GENDER, gender);
  }

  public get sets(): string[] {
    return store.state.availableSets;
  }

  public get set(): string {
    return store.state.setName;
  }

  public set set(setName: string) {
    store.dispatch(CHANGE_SET, setName);
  }

  public counts = [5, 10, 20, 50, 100];

  public get count(): number {
    return store.state.count;
  }

  public set count(count: number) {
    store.dispatch(CHANGE_COUNT, count);
  }

  public get fullName(): boolean {
    return store.state.fullName;
  }

  public generate() {
    store.dispatch(GENERATE);
  }
}
</script>

<style lang="scss">
.config {
  background-color: rgba(0, 0, 0, 0.15);
}
.config .layout {
  justify-content: center;
}

.options,
.generate,
.sets {
  display: flex;
  justify-content: center;
}

.count-select {
  max-width: 3.5em;
}
</style>
