<template>
  <div class="cookie-info">
    <v-snackbar
      v-model="show"
      :timeout="0"
      left
      bottom
      multi-line
    >
      <div class="info-content">
        <p>{{ $t('cookie_warning') }}</p>
        <router-link to="/cookies" tag="div" class="nav-btn">
          <v-btn flat>
            <span class="mr-2">{{ $t('learn_more') }}</span>
          </v-btn>
        </router-link>
      </div>
      <v-btn flat color="primary" @click.native="close">{{ $t('close') }}</v-btn>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class CookieInfo extends Vue {

  public show = false;

  public mounted(): void {
    const consent = localStorage.getItem('cookie-consent');
    if (consent === null) {
      this.show = true;
    }
  }

  public close(): void {
    this.show = false;
    localStorage.setItem('cookie-consent', 'closed');
  }
}
</script>


<style lang="scss">
.info-content {
  align-items: center;
  display: flex;
  & p {
    margin: 0;
    text-align: center;
  }
}
</style>
