<template>
    <div class="custom-set">
      <v-card-title class="headline">{{ $t('custom_set_modal.title') }}</v-card-title>
      <v-card-text>{{ $t('custom_set_modal.content') }}</v-card-text>
      <div>
        <v-btn color="info">{{ $t('custom_set_modal.import') }}</v-btn>
        <v-btn color="info">{{ $t('custom_set_modal.generate') }}</v-btn>
      </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class CustomSet extends Vue {

}
</script>

<style lang="scss">
.custom-set {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
}
</style>