<template>
  <div class="grid">
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex class="name-tile" v-for="name in names" :key="name" @click="copyToClipboard(name)">
          <v-card flat tile>
            <span>{{ name }}</span>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-snackbar
      v-model="snackbar"
      :timeout="5000"
      :left="true"
    >
      {{ snackbarText }}
      <v-btn flat color="primary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import store from '@/store';

@Component
export default class Grid extends Vue {
  public snackbar = false;
  public snackbarText = '';

  public get names(): string[] {
    return store.state.names;
  }


  public copyToClipboard(content: string): void {
    const nav = navigator as any;
    nav.permissions.query({name: 'clipboard-write'}).then((result: any) => {
      if (result.state === 'granted' || result.state === 'prompt') {
        nav.clipboard.writeText(content).then(() => {
          this.showSnackbar('Name copied to clipboard');
        }, () => {
          this.showSnackbar('Failed to copy name to clipboard');
        });
      } else {
        this.showSnackbar('Browser denied permission to copy name to clipboard');
      }
    });
  }

  public showSnackbar(message: string) {
    this.snackbarText = message;
    this.snackbar = true;
  }
}
</script>

<style lang="scss">
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 800px;
}

.name-tile {
  width: 180px;

  & .v-card {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);

    &:hover {
      font-weight: bold;
    }
  }
}
</style>
