<template>
  <v-container class="hello-world">
    <v-layout text-xs-center wrap >
      <v-flex>
        <h1 class="display-2 font-weight-bold mb-3">
          {{ $t('app_name') }}
        </h1>
        <p class="subheading font-weight-regular">
          {{ $t('quote.text') }}  <br>—  {{ $t('quote.source') }}
        </p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class HelloWorld extends Vue {

}
</script>


<style lang="scss">

</style>

