<template>
  <v-app :dark="darkTheme">
    <v-toolbar app>
      <router-link to="/" tag="div" class="nav-btn" exact>
        <v-toolbar-title class="headline text-uppercase">
          <img src="@/assets/machine.png" class="logo">
          <span>{{ $t('app_name_prefix') }}</span>
          <span class="title-2 font-weight-light">{{ $t('app_name_suffix') }}</span>
        </v-toolbar-title>
      </router-link>
      <v-spacer></v-spacer>
      <div class="bar-items hidden-sm-and-down">
        <div>
          <v-switch class="theme-switch" :label="$t('dark_theme')" @change="saveTheme" v-model="darkTheme"></v-switch>
        </div>
        <v-menu offset-y>
          <v-btn color="secondary" dark slot="activator">
            <img class="flag" :src="require(`@/assets/flags/${language.flag}.svg`)">
            {{ language.name }}
          </v-btn>
          <v-list>
            <v-list-tile
              v-for="language in languages"
              :key="language.key"
              @click="selectLanguage(language)"
            >
              <v-list-tile-title class="list-item">
                <img class="flag" :src="require(`@/assets/flags/${language.flag}.svg`)">
                {{ language.name + (language.english !== null ? ` (${language.english})` : '')}}
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
        <router-link to="/about" tag="div" class="nav-btn">
          <v-btn flat>
            <span class="mr-2">{{ $t('about') }}</span>
          </v-btn>
        </router-link>
      </div>
      <div class="bar-items-menu hidden-md-and-up">
        <v-menu bottom left :close-on-content-click="false" v-model="menu">
          <v-btn slot="activator" icon>
            <v-icon>more_vert</v-icon>
          </v-btn>
          <v-list>
            <v-switch
              class="theme-switch"
              :label="$t('dark_theme')"
              @change="saveTheme"
              v-model="darkTheme"
            ></v-switch>
            <v-menu offset-x left>
              <v-btn color="secondary" dark slot="activator">
                <img class="flag" :src="require(`@/assets/flags/${language.flag}.svg`)">
                {{ language.name }}
              </v-btn>
              <v-list>
                <v-list-tile
                  v-for="language in languages"
                  :key="language.key"
                  @click="selectLanguage(language)"
                >
                  <v-list-tile-title class="list-item">
                    <img class="flag" :src="require(`@/assets/flags/${language.flag}.svg`)">
                    {{ language.name + (language.english !== null ? ` (${language.english})` : '')}}
                  </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
            <router-link to="/about" tag="div" class="nav-btn">
              <v-list-tile @click="menu = false">
                <span class="mr-2">{{ $t('about') }}</span>
              </v-list-tile>
            </router-link>
          </v-list>
        </v-menu>
      </div>
    </v-toolbar>

    <v-content>
      <router-view/>
    </v-content>
    <CookieInfo/>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import router from '@/router';
import CookieInfo from '@/components/CookieInfo.vue';
import ILanguage from '@/lib/localization/language.contract';

@Component({
  components: {
    CookieInfo,
  },
})
export default class App extends Vue {
  public menu = false;
  public darkTheme = true;
  public language: ILanguage;
  private languages: ILanguage[];

  constructor() {
    super();
    this.languages = [
      { key: 'en', flag: 'united-kingdom', name: 'English', english: null },
      { key: 'fr', flag: 'france', name: 'Français', english: 'French' },
      { key: 'jp', flag: 'japan', name: '日本語', english: 'Japanese' },
    ];
    this.language = this.languages.find(l => l.key === this.getLanguageKey()) || this.languages[0];
    this.selectLanguage(this.language);
  }

  public selectLanguage(language: ILanguage): void {
    localStorage.setItem('user-language', language.key);
    this.language = language;
    this.$i18n.locale = language.key;
    this.menu = false;
  }

  public saveTheme(): void {
    localStorage.setItem('theme', this.darkTheme ? 'dark' : 'light');
  }

  public created(): void {
    if (localStorage.getItem('theme') === 'light') {
      this.darkTheme = false;
    }

    if ((navigator as any).permissions === undefined) {
      router.push('/unsupported-browser');
    }
  }

  private getLanguageKey(): string {
    return (
      localStorage.getItem('user-language') ||
      navigator.language.split('-')[0] ||
      'en'
    );
  }
}
</script>

<style lang="scss">
.bar-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switch {
  margin: 0 10px;
  height: 36px;
}

.title-2 {
  padding-left: 0.3em;
}

.flag {
  height: 32px;
  margin-right: 5px;
}

.list-item {
  display: flex;
  align-items: center;
}

.nav-btn {
  cursor: pointer;

  &.router-link-active {
    cursor: default;
  }
}

.headline {
  user-select: none;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 600px) {
    font-size: 16px !important;
  }
}

.logo {
  max-height: 50px;
  -webkit-user-drag: none;
  @media only screen and (max-width: 600px) {
    max-width: 32px;
  }
}
</style>

